/* Satoshi */
@font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.woff') format('woff'),
         url('//cdn.fontshare.com/wf/D7WD5OXZFWQ5T76HSPWAC7MNKAJXE2YG/LUGNSPO5YC34ABNB2O6K7AFDSOJZT56V/WNDVG7O66ENLOD43GS7FBUCC4KMT5OM2.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/BRQAKSEW34X5RMZXKNWSVNXMNXSLSG6X/DOBF42XRXCZ2WDWJNNFFNBHBHYFWLRQD/MVBFGLEMN2LQF4RKXAFO4YZFKXTEZ7FQ.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/BRQAKSEW34X5RMZXKNWSVNXMNXSLSG6X/DOBF42XRXCZ2WDWJNNFFNBHBHYFWLRQD/MVBFGLEMN2LQF4RKXAFO4YZFKXTEZ7FQ.woff') format('woff'),
         url('//cdn.fontshare.com/wf/BRQAKSEW34X5RMZXKNWSVNXMNXSLSG6X/DOBF42XRXCZ2WDWJNNFFNBHBHYFWLRQD/MVBFGLEMN2LQF4RKXAFO4YZFKXTEZ7FQ.ttf') format('truetype');
    font-weight: 300;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.woff') format('woff'),
         url('//cdn.fontshare.com/wf/TTX2Z3BF3P6Y5BQT3IV2VNOK6FL22KUT/7QYRJOI3JIMYHGY6CH7SOIFRQLZOLNJ6/KFIAZD4RUMEZIYV6FQ3T3GP5PDBDB6JY.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/MPIFA4B3XXRNY2MJDGP6GOOOAF6EOCLO/W5E4ZFYPJ3V6JKMBGHB6YMITK6EWS2XA/QOMBWPST76ICDYF6WOBS7SQ7RBT67QW2.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/MPIFA4B3XXRNY2MJDGP6GOOOAF6EOCLO/W5E4ZFYPJ3V6JKMBGHB6YMITK6EWS2XA/QOMBWPST76ICDYF6WOBS7SQ7RBT67QW2.woff') format('woff'),
         url('//cdn.fontshare.com/wf/MPIFA4B3XXRNY2MJDGP6GOOOAF6EOCLO/W5E4ZFYPJ3V6JKMBGHB6YMITK6EWS2XA/QOMBWPST76ICDYF6WOBS7SQ7RBT67QW2.ttf') format('truetype');
    font-weight: 400;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/P2LQKHE6KA6ZP4AAGN72KDWMHH6ZH3TA/ZC32TK2P7FPS5GFTL46EU6KQJA24ZYDB/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/P2LQKHE6KA6ZP4AAGN72KDWMHH6ZH3TA/ZC32TK2P7FPS5GFTL46EU6KQJA24ZYDB/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.woff') format('woff'),
         url('//cdn.fontshare.com/wf/P2LQKHE6KA6ZP4AAGN72KDWMHH6ZH3TA/ZC32TK2P7FPS5GFTL46EU6KQJA24ZYDB/7AHDUZ4A7LFLVFUIFSARGIWCRQJHISQP.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/NID3I7RITWZSKXRCJGOCMP5NOADJK6IG/2HLHGD7OBTWCOHW64YXOE5KFXHU4KJHM/ZHME2QIRFR7UPJ47NLY27RCAFY44CKZJ.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/NID3I7RITWZSKXRCJGOCMP5NOADJK6IG/2HLHGD7OBTWCOHW64YXOE5KFXHU4KJHM/ZHME2QIRFR7UPJ47NLY27RCAFY44CKZJ.woff') format('woff'),
         url('//cdn.fontshare.com/wf/NID3I7RITWZSKXRCJGOCMP5NOADJK6IG/2HLHGD7OBTWCOHW64YXOE5KFXHU4KJHM/ZHME2QIRFR7UPJ47NLY27RCAFY44CKZJ.ttf') format('truetype');
    font-weight: 500;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.woff') format('woff'),
         url('//cdn.fontshare.com/wf/LAFFD4SDUCDVQEXFPDC7C53EQ4ZELWQI/PXCT3G6LO6ICM5I3NTYENYPWJAECAWDD/GHM6WVH6MILNYOOCXHXB5GTSGNTMGXZR.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/CDEBEFT2R7XKNGXSBBLZGMY4MMHZG75P/HEVKDGQCYDZ7Z6CDVR2ZQGBCTUD6ZARH/BKWEE3VKGTFABE37K2DTH625VUSN2N35.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/CDEBEFT2R7XKNGXSBBLZGMY4MMHZG75P/HEVKDGQCYDZ7Z6CDVR2ZQGBCTUD6ZARH/BKWEE3VKGTFABE37K2DTH625VUSN2N35.woff') format('woff'),
         url('//cdn.fontshare.com/wf/CDEBEFT2R7XKNGXSBBLZGMY4MMHZG75P/HEVKDGQCYDZ7Z6CDVR2ZQGBCTUD6ZARH/BKWEE3VKGTFABE37K2DTH625VUSN2N35.ttf') format('truetype');
    font-weight: 700;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.woff') format('woff'),
         url('//cdn.fontshare.com/wf/NHPGVFYUXYXE33DZ75OIT4JFGHITX5PE/PSUTMASCDJTVPERDYJZPN23BVUFUCQIF/J64QX5IPOHK56I2KYUNBQ5M2XWZEYKYX.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/5ICO57VJIN252OT5L2KLEIPW754DTLAO/ZU64SLR2IEO66N27IVY5Z6JJJRTJECJK/TCTRLNEXANFIGSFCZTGQL7PZ5362GYK6.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/5ICO57VJIN252OT5L2KLEIPW754DTLAO/ZU64SLR2IEO66N27IVY5Z6JJJRTJECJK/TCTRLNEXANFIGSFCZTGQL7PZ5362GYK6.woff') format('woff'),
         url('//cdn.fontshare.com/wf/5ICO57VJIN252OT5L2KLEIPW754DTLAO/ZU64SLR2IEO66N27IVY5Z6JJJRTJECJK/TCTRLNEXANFIGSFCZTGQL7PZ5362GYK6.ttf') format('truetype');
    font-weight: 900;
    font-display: swap;
    font-style: italic;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/NWBQYJIM7GCZ5XWD7D26ARB3VDY55ZRT/K63EV2KZIGKLE7RANQ2U42S6SVHU5RJ7/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/NWBQYJIM7GCZ5XWD7D26ARB3VDY55ZRT/K63EV2KZIGKLE7RANQ2U42S6SVHU5RJ7/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.woff') format('woff'),
         url('//cdn.fontshare.com/wf/NWBQYJIM7GCZ5XWD7D26ARB3VDY55ZRT/K63EV2KZIGKLE7RANQ2U42S6SVHU5RJ7/X6XYTKIVDUW7GZTZPZNN4EUM5KH54KHF.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: normal;
  }
  @font-face {
    font-family: 'Satoshi';
    src: url('//cdn.fontshare.com/wf/3JZIFUW7KLFSPLVCIUI2DLGNIER6IFCX/MMP4RUF5LYGUAZS3DCJC3GJ6F6SAGKSN/E3NEPGEAHYCHR37DSBXHV33XCYYRE2CY.woff2') format('woff2'),
         url('//cdn.fontshare.com/wf/3JZIFUW7KLFSPLVCIUI2DLGNIER6IFCX/MMP4RUF5LYGUAZS3DCJC3GJ6F6SAGKSN/E3NEPGEAHYCHR37DSBXHV33XCYYRE2CY.woff') format('woff'),
         url('//cdn.fontshare.com/wf/3JZIFUW7KLFSPLVCIUI2DLGNIER6IFCX/MMP4RUF5LYGUAZS3DCJC3GJ6F6SAGKSN/E3NEPGEAHYCHR37DSBXHV33XCYYRE2CY.ttf') format('truetype');
    font-weight: 300 900;
    font-display: swap;
    font-style: italic;
  }
  
  
  https://kunyea.fr/assets/css/styles.css
  :root {
    --black: #111;
    --white: #ffffff;
    --dark-blue: #030f21;
    --primary-blue: #1060d3;
    --light-blue: #00a5e4;
  }
  
  * {
    font-family: "Satoshi", sans-serif;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
  }
  
  body {
    background-color: var(--dark-blue);
    max-width: 1920px;
    margin: 0 auto;
    text-decoration: none;
    list-style: none;
  }
  
  .container {
    margin: 30px 80px;
  }
  
  .main_menu {
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding: 30px;
  }
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px 30px;
  }
  
  .left_side img {
    display: block;
  }
  
  .left_side {
    display: flex;
    align-items: center;
    gap: 30px;
    font-weight: 600;
  }
  
  .btn {
    justify-content: center;
    align-items: center;
    display: flex;
    padding: 16px 32px;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    font-weight: 700;
    background-image: linear-gradient(
      to right,
      var(--primary-blue),
      var(--light-blue)
    );
    color: var(--white);
    border: 0px;
  }
  
  .link_unstyle {
    color: var(--white);
    font-size: 16px;
    text-decoration: none;
  }
  
  .light_blue_hover:hover {
    color: var(--light-blue);
  }
  .dark_blue_hover:hover {
    color: var(--dark-blue-blue);
  }
  
  .landing {
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(
      to right,
      rgba(16, 96, 211, 0.5),
      rgba(0, 165, 228, 0.5)
    );
    display: flex;
    flex-direction: column;
    overflow: hidden;
    gap: 120px;
  }
  .landing_text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
    margin-top: 60px;
    margin-left: 20px;
    margin-right: 20px;
    text-align: center;
  }
  
  .landing .cards {
    display: flex;
    justify-content: center;
  }
  .landing .cards img {
    display: flex;
    justify-content: center;
    max-width: 100%;
    height: auto;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .mt-32 {
    margin-top: 32px;
  }
  .mt-160 {
    margin-top: 160px;
    
  }
  
  .tech_parent {
    width: 100%;
    display: grid;
    gap: 20px;
    grid-template-rows: repeat(
      2,
      auto
    ); /* Two rows, with the first one adjusting to content */
    grid-template-columns: 1fr 1fr; /* Two columns with equal width */
  }
  
  .fraud {
    -o-border-radius: 16px;
    padding: 50px;
    grid-row: span 2;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(
      to top,
      rgba(16, 96, 211, 0.5),
      rgba(0, 165, 228, 0.5)
    ); /* The first child spans across two columns */
  }
  .protection {
    -o-border-radius: 16px;
    padding: 50px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    background: linear-gradient(
      to top,
      rgb(0, 165, 228, 0.5),
      rgba(22, 149, 199, 0.5)
    );
  }
  .donnes {
    -o-border-radius: 16px;
    padding: 50px;
    background: linear-gradient(
      to top,
      rgba(9, 76, 102, 0.5),
      rgba(7, 75, 102, 0.5)
    );
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
  }
  
  .landing_header {
    color: var(--white);
    font-size: 64px;
    font-weight: 700;
  }
  
  .pricing {
    display: flex;
    justify-content: space-between;
  
    
  }
  
  .text-white {
    color: var(--white);
  }
  .font-medium {
    font-weight: 500;
  }
  .hamburger a {
    display: none;
  }
  .hamburger span {
    cursor: pointer;
    display: none;
    width: 25px;
    height: 3px;
    background-color: var(--white);
    margin: 5px auto;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  
  .hamburger_link_blue {
    display: none;
  }
  
  .heading {
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  
  .heading_title {
    font-weight: 700;
    font-size: 40px;
    line-height: 170%;
  }
  
  .heading_body {
    max-width: 700px;
    text-align: center;
    margin: 0 auto;
    opacity: 80%;
  }
  
  .responsive_img {
    max-width: 1280px;
    width: 100%;
    height: auto;
  }
  
  .map {
    display: flex;
    justify-content: center;
  }
  
  .title {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 20px;
  
  }
  
  .sous_title {
    line-height: 34px;
    font-weight: 700;
    font-size: 24px;
  }
  
  .avantage_cards {
    display: flex;
    align-items: baseline;
    gap: 80px;
    
    width: 85%;
      justify-content: center;
  }
  
  .avantage_img {
    width: 80px;
    height: 80px;
    margin-bottom: 10px;
  }
  
  .avantage_text {
    max-width: 500px;
    opacity: 0.8;
  }
  
  .sous_text {
    max-width: 500px;
    opacity: 0.8;
    line-height: 30px;
  }
  section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    
  }
  .valeurs_sections {
    display: flex;
    /* padding: 25px 25px 25px 0px; */
    /* margin-top: 50px; */
    justify-content: space-between;
    /* align-items: center; */
    width: 100%;
  }
  
  
  .valeurs div:first-child {
    border-left: 5px solid;
    border-image: linear-gradient(to top, var(--primary-blue), var(--light-blue))
      1;
    padding-left: 10px;
    margin-left: -10px;
    border-radius: 10px;
  }
  
  .valeurs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 25px 25px 25px 0px;
  }
  
  .valeurs_img {
    width: 650px;
    height: 600px;
    border-radius: 10px;
    overflow: hidden; /* Hide any content that overflows the container */
    position: relative; /* Required for absolute positioning of the image */
    background-size: cover; /* Cover the entire container with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent repeating of the background image */
    transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
    opacity: 1; /* Start fully visible */
  }
  
  .center_btn {
    display: flex;
    justify-content: center;
  }
  .center_btn a {
    padding-left: 62px;
    padding-right: 62px;
  }
  
  .partners_cards {
    display: flex;
    
    justify-content: space-evenly;
    width: 100%;
    align-items: center;
    padding: 87px 0px 0px 0px;
  }
  .partners_cards > div {
    width: 400px;
    height: 200px;
    padding: 80px;
    background-color: rgb(16, 96, 211, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
  }
  
  .btn_style {
    color: var(--primary-blue);
    background-color: white;
  
    padding: 16px 32px;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    font-weight: 700;
    border: 0px;
  }
  
  .btn_style:hover {
    color: #00a5e4;
  }
  
  .big_card {
    margin: 0px auto;
    height: 400px;
    padding: 60px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: rgba(16, 96, 211, 0.1);
    -o-border-radius: 32px;
    -webkit-border-radius: 32px;
    -moz-border-radius: 32px;
    -ms-border-radius: 32px;
    border-radius: 32px;
    background-image: url("../images/footer_bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .footer_text {
    max-width: 800px;
    text-align: center;
  }
  
  .form_text {
    color: rgba(255, 255, 255, 0.8);
    line-height: 70px;
  }
  
  .form_label {
    color: rgba(255, 255, 255, 0.8);
    font-size: 14px;
    font-weight: 500;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .form_input {
    padding: 16px 32px;
    border: 0px;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    width: 100%;
    margin-top: 10px;
    font-weight: 500;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .submit_button {
    display: flex;
    padding: 16px;
    color: #ffffff;
    background-color: #1060d3;
    border: 0px;
    -o-border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;
    justify-content: center;
    margin-top: 16px;
  }
  
  .first_grp {
    display: flex;
    gap: 30px;
  }
  .first_grp > div {
    flex: 1;
  }
  
  .form {
    max-width: 1232px;
    width: 100%;
    margin: 0 auto;
  }
  
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-top: 2px solid #00a5e4;
  }
  
  .footer_links {
    display: flex;
    gap: 50px;
    list-style: none;
  }
  
  .footer_links > li > a:hover {
    color: #00a5e4;
  }
  
  .copyright {
    color: rgba(255, 255, 255, 0.4);
  }
  #text{
    font-size: 15x;
    font-weight: 500;
    line-height: 170%;
    text-align: start;
    margin-top: 10px;
    
  
  }
  hr{
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 100%;
    opacity: 0.1;
  
  }
  #titre{
    font-size: 25px;
    font-weight: 700;
    line-height: 170%;
    text-align: start;
    margin-top: 20px;
    margin-bottom: 10px;
  
  }
  #titre1{
    font-size: 25px;
    font-weight: 700;
    line-height: 170%;
    text-align: center;
    margin-top: 20px;
    margin-bottom:150px;
  
  }
  #titre-prix{
    font-size: 25px;
    font-weight: 700;
    line-height: 170%;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 20px;
  
  }
  #titre-a{
    text-decoration: none;
    font-size: 20px;
    padding:2px;
    font-weight: 700;
    line-height: 170%;
    text-align: center;
  
  }
  
  .cara {
  
  }
  #cara1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25%;
   
  }
  #cara11{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 32%;
   
  }
  #caragrp{
    margin-top: 109px;
  }
  #center{
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  #caragrptext{
    margin-top: 75px;
    display: flex;
  
    justify-content: center;
    align-items: center;
  }
  #caragrptext2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;
  }
  
  .background-pricing-div {
    position: relative;
    padding: 10px;
    width: 100%;
    margin-left: 20px;
  
  }
  .background-pricing{
    background-color: #b8c6d1; padding:60px;    
    background: linear-gradient(180deg, #1060d3ff 0%, #1060d380 100%);
    border-radius: 16px 16px 16px 16px;
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
     opacity: 0.10000000149011612;
     position: absolute;
     top: 0;
     left: 0;
      width: 100%;
      height: 100%;
     
     z-index: -1;
    
       
  }
  #card-img{
    width: 80px;
    height: 100%;
  
   
  }
  .cart_btn {
   
    width: 100%;
    height: 100%;
    padding: 8px;
    display: flex;
    justify-content: center;
    border-radius: 12px 12px 12px 12px;
  }
  
  
  .cart_header {
    display: flex;
    gap: 30px;
    justify-content: space-between;
    align-items: center;  
  }
  
  .price {
    display: flex;
    justify-content: end;
  }
  
  .p-5 {
    padding: 30px;
  }
  
  .form {
    padding: 30px;
  }
  .tablette-pricing {
    display: none;
  
  }
  @media (max-width: 933px) {
    .partners_cards {
      gap: 6px!important;
    }
    .partners_cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
    }
    .partners_cards > div {
      width: 200px;
      height: 180px;
    }
  }
  @media (max-width: 1310px) {
    #avantages{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
      margin-top: 50px;
    }
    .first_grp {
      flex-direction: column;
    }
  
    .tech_parent {
      width: 100%;
      display: grid;
      gap: 20px;
      grid-template-rows: repeat(2, auto);
      grid-template-columns: 1fr 1fr;
  }
   .partners_cards {
      display: flex;
      gap: 35px;
      flex-wrap: wrap;
  
    }
    .partners_cards div {
      flex-grow: 1;
      min-width: 293px;
      }
    .partners_cards div.stretch {
      flex-grow: 2;
    }
  
    .valeurs_sections {
      flex-direction: column;
    }
    .valeurs_img {
      max-width: 100%; /* Ensure the picture doesn't exceed the width of its container */
      height: auto;
      transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
      opacity: 1; /* Start fully visible */
    }
    .valeurs {
      order: 1;
      display: grid;
      grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
      grid-gap: 10px;
    }
  }
  @media (max-width: 1420px) {
    #avantages{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: start;
      margin-top: 50px;
    }
    .valeurs_img {
      width: 650px;
      height: 600px;
      border-radius: 10px;
      overflow: hidden; /* Hide any content that overflows the container */
      position: relative; /* Required for absolute positioning of the image */
      background-size: cover; /* Cover the entire container with the background image */
      background-position: center; /* Center the background image */
      background-repeat: no-repeat; /* Prevent repeating of the background image */
      transition: opacity 0.5s ease-in-out; /* Smooth transition for the opacity */
      opacity: 1; /* Start fully visible */
    }
    .partners_cards {
      display: flex;
      gap: 35px;
      flex-wrap: wrap;
    }
    .fraud {
      display: flex;
      grid-column: span 2;
      justify-content: center;
      align-items: center;
  }
  
    .avantage_cards {
      flex-direction: column;
    }
  
    .hamburger_link_blue {
      display: block;
    }
  
    .hamburger span {
      display: block;
    }
  
    .hamburger a {
      display: block;
    }
  
    .hamburger.active span:nth-child(2) {
      opacity: 0;
    }
    .hamburger.active span:nth-child(1) {
      -o-transform: translateY(8px) rotate(45deg);
      -webkit-transform: translateY(8px) rotate(45deg);
      -moz-transform: translateY(8px) rotate(45deg);
      -ms-transform: translateY(8px) rotate(45deg);
      transform: translateY(8px) rotate(45deg);
    }
    .hamburger.active span:nth-child(3) {
      -o-transform: translateY(-8px) rotate(-45deg);
      -webkit-transform: translateY(-8px) rotate(-45deg);
      -moz-transform: translateY(-8px) rotate(-45deg);
      -ms-transform: translateY(-8px) rotate(-45deg);
      transform: translateY(-8px) rotate(-45deg);
    }
  
    .hamburger {
      order: 1;
    }
    .res_menu {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
  
    .main_menu {
      position: fixed;
      left: -100%;
      top: 70px;
      gap: 30px;
      margin-top: 25px;
  
      flex-direction: column;
      background-color: var(--dark-blue);
      width: 100%;
      height: 100%;
      text-align: center;
      -o-transition: 0.3s;
      -webkit-transition: 0.3s;
      -moz-transition: 0.3s;
      -ms-transition: 0.3s;
      transition: 0.3s;
    }
  
    .main_menu.active {
      left: 0;
    }
    .pricing {
      display: none;
    }
    .tablette-pricing {
      display: flex;
    
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
    }
    .cart_header {
  justify-content:start; 
  margin-left:20px;
  width:100%;
  
  }
   }
   .tablette-cara{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  
    width:100%;
    margin:50px;
   }
   .tabcaragrp{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
  width:100%;
   }
   .btncont{
    width:100%;
    display: flex;
   }
   .row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
   }
   
  
  @media (min-width: 1300px) {
  
    .valeurs_sections{
      flex-direction: row;
    }
    .valeurs_img {
      display: list-item;
      width: 100%;
      height: 600px;
      object-fit: cover;
    }
  
  }
  @media (max-width: 570px) {
  
    .valeurs_img {
      display: none;
    } 
    .title_image {
      display: block ; /* Force hiding images on wider screens */
      width: 100%;
      border-radius: 10px;
  }
  }
  @media (min-width: 769px) {
  
  
    #dynamic-img {
      display: none !important; /* Force hiding images on wider screens */
  }
   }
    @media (max-width: 570px) {
      main {
        margin-right: 0px;
        margin-left: 0px;
      }
      .valeurs_img {
        display: none;
      }
    .landing {
      -o-border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      -ms-border-radius: 0px;
      border-radius: 0px;
    }
    .tabcaragrp{
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    width:100%;
     }
     .tablette-cara{
      display: flex;
      flex-direction: column;
      justify-content: start;
      align-items: center;
    margin:10px!important;
      width:100%;
      
     }
  
     .valeurs_sections {
      display: flex;
      padding: 25px 25px 25px 0px;
      justify-content: space-evenly;
    }
    
    .valeurs div:first-child {
      border-left: 5px solid;
      border-image: linear-gradient(to top, var(--primary-blue), var(--light-blue))
        1;
      padding-left: 10px;
      margin-left: -10px;
      border-radius: 10px;
    }
    
    .valeurs {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding: 25px 25px 25px 0px;
    }
    
    footer {
      flex-direction: column;
      gap: 30px;
    }
    .footer_links {
      flex-direction: column;
    }
  
    .big_card {
      padding: 40px;
    }
  }
  @media (min-width: 614px) {
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 30px 30px;
      padding-right: 50px;
      width: 100%;
  }
  .container {
   /* padding-left:50px;
   padding-right: 50px; */
  }
  }
  @media (max-width: 400px) {
    #titre-prix {
      font-size: 15px;
      font-weight: 700;
      line-height: 170%;
    }
    .navbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      
      padding-right: 50px;
      padding-left: 0px;
      width: 100%;
  }
  .container {
   margin-left:0px;
   width:100%;
   overflow: hidden;
  }
  .btn.link_unstyle .dark_blue_hover .hamburger_link .aa {
    display: none;
  }
  .tech_parent {
    display: flex;
    flex-direction: column;
  }
  .fraud {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
  }
  .cart_header {
    
    justify-content: start;
     
        width: 100%;
        padding: 10px;
    }
  }